@import "bootstrap.css";
@import "tailwind.min.css";
:root {
    --background-grid-color: #151515;
    --background-fill-color: #000;
}
body {
    background-color: #191919;
    background-image:
            linear-gradient(
                    to right,
                    var(--background-grid-color) 0,
                    var(--background-grid-color) 1px,
                    transparent 1px,
                    transparent 100%
            ),
            linear-gradient(
                    to bottom,
                    var(--background-grid-color) 0,
                    var(--background-grid-color) 1px,
                    transparent 1px,
                    transparent 100%
            )
;
    background-position: 100px 0, 0 0;
    background-size: 200px;
    margin: 0;
    padding: 0;
    font-family: "Inter",serif;
}
.container {
    max-width: 960px;
    margin: 0 auto;
    padding: 50px;
    color: #FFF;
    text-align: center;
}
h1 {
    font-size: 48px;
    margin-top: 0;
    margin-bottom: 20px;
}
p {
    font-size: 24px;
    margin-bottom: 20px;
}
button {
    background-color: #7c3aed;
    color: #FFF;
    border: none;
    padding: 10px 20px;
    margin-right: 10px;
    border-radius: 5px;
    font-size: 18px;
    cursor: pointer;
}
button:hover {
    background-color: rgb(139 92 246);
    transition: 0.7s;
}
.dropdown {
    position: relative;
    display: inline-block;
    cursor: default;
}
.lin {
    position: relative;
    width: 275px;
    height: 100px;
    font-family: 'Inter', serif;
    font-style: normal;
    font-weight: 700;
    line-height: 110%;
    background: linear-gradient(148.93deg, #FF0000 -6.2%, #FF0303 35.68%, #7000FF 81.2%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}
.dropdown-content {
    display: none;
    position: absolute;
    z-index: 1;
    background-color: #191919;
    padding: 20px;
    cursor: default;
    min-width: 275px;
    border-radius: 5px;
    border: 1px solid #FFF;
    text-align: left;
}
.dropdown-content.about-us {
    padding: 30px;
    min-width: 400px;
    cursor: default;
}
.dropdown:hover .dropdown-content {
    display: block;
    cursor: default;
}
.dropdown-content p {
    font-size: 18px;
    margin: 0;
    cursor: default;
}
.dropdown-content a {
    color: #FFF;
    font-size: 18px;
    display: block;
    margin: 5px 0;
    text-decoration: none;
    cursor: default;
}
.dropdown-content a:hover {
    text-decoration: underline;
}
canvas {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}
selector { cursor: none; }
* {
    cursor: none;
}
.switch {
    position: absolute;
    bottom: 10px;
    left: 10px;
}